.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  padding: 1rem;
}

.header h2 span {
  color: #6c63ff;
  margin-right: 0.5rem;
}

.header h2 {
  color: rgb(38, 38, 38);
}
